<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
<title>#{feed.name}</title>
    <link rel="stylesheet" href="file://#{cssdir}/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="file://#{cssdir}/style.css" type="text/css" media="screen, projection">
</head>
<body>
<div id="feedbar">
  <a href="#{feed.url}">#{feed.name}</a>&nbsp;
  FIXME: this needs a lot of styling
</div>
  <div>
  <span><a href="cmd://mark-as-read">Mark All as Read</a></span>
  <span><a href="cmd://settings">Settings</a></span>
  <span><a href="cmd://unsubscribe">Unsubscribe</a></span>
  </div>
  
  <div>
  Feed Info goes here
  </div>
  
  <div>
  Timeline goes here
  </div>
</div>
</body>
