<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
<title>#{feed.name}</title>
    <link rel="stylesheet" href="file://#{cssdir}/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="file://#{cssdir}/style.css" type="text/css" media="screen, projection">
    <script src="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true" type="text/javascript"></script>


   <script>
        var timeline_data = #{timelinedata};
        var tl;
        function onLoad() {
            var tl_el = document.getElementById("tl");
            var eventSource1 = new Timeline.DefaultEventSource();

            var theme1 = Timeline.ClassicTheme.create();
            theme1.autoWidth = true; // Set the Timeline's "width" automatically.
                                     // Set autoWidth on the Timeline's first band's theme,
                                     // will affect all bands.

            var bandInfos = [
                Timeline.createBandInfo({
                    width:          45, // set to a minimum, autoWidth will then adjust
                    intervalUnit:   Timeline.DateTime.DAY,
                    intervalPixels: 200,
                    eventSource:    eventSource1,
                    theme:          theme1,
                    layout:         'detailed'  // original, overview, detailed
                })
            ];

            // create the Timeline
            tl = Timeline.create(tl_el, bandInfos, Timeline.HORIZONTAL);

            var url = '.'; // The base url for image, icon and background image
                           // references in the data
            eventSource1.loadJSON(timeline_data, url); // The data was stored into the
                                                       // timeline_data variable.
            tl.layout(); // display the Timeline
        }

        var resizeTimerID = null;
        function onResize() {
            if (resizeTimerID == null) {
                resizeTimerID = window.setTimeout(function() {
                    resizeTimerID = null;
                    tl.layout();
                }, 500);
            }
        }
   </script>

</head>
<body onload="onLoad();" onresize="onResize();">
<div id="feedbar">
  <a href="#{feed.url}">#{feed.name}</a>&nbsp;
  FIXME: this needs a lot of styling
</div>
<div>
  <span><a href="cmd://mark-as-read">Mark All as Read</a></span>
  <span><a href="cmd://settings">Settings</a></span>
  <span><a href="cmd://unsubscribe">Unsubscribe</a></span>
</div>
  
<div>
  Feed Info goes here
</div>
  
<div id='tl'></div>
<p>To move the Timeline: use the mouse scroll wheel, the arrow keys or grab and drag the Timeline.</p>

<div id="ft" role="contentinfo">
  <p>Thanks to the <a href=''>Simile Timeline project</a> Timeline version <span id='tl_ver'></span></p>
  <script>Timeline.writeVersion('tl_ver')</script>
</div>

</body>
