#feedbar {
    border: 1px solid #ccf;
    padding: 4px;
    margin-bottom: 8px;
}

#feedcmds {
    float: right;
}

#postbar {
    border: 1px solid #ccf;
    padding: 4px;
}

#postcmds {
    float: right;
}

#postbar2 {
    border: 1px solid #ccf;
    padding: 4px;
    text-align: center;
}
